.clear {
	clear: both;
}

div.full-height {
	overflow: auto;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1em;
}

pre,
code {
	background: #eee;
	padding: 1px 5px 1px 5px;
}

pre {
	padding: 5px;
}

pre .highlight {
	background: #ddd;
}

pre code {
	padding: 0;
}

blockquote {
	border-left: 5px solid #eee;
	margin: 1em 0;
	padding-left: 10px;
}

#left-column,
#right-column {
	float: left;
	width: 50%;
}

.wrapper {
	position: relative;
	padding: 22px 0 20px 20px;
}

#left-column .wrapper {
	border-right: 1px solid #f7f7f7;
}

#right-column .wrapper {
	padding-left: 19px;
	border-left: 1px solid #f7f7f7;
}

.buttons-container {
	position: absolute;
	top: 0;
	right: 0;
	background: #f7f7f7;
}

.buttons-container.fullscreen {
	display: none;
}

.buttons-container .button,
.buttons-container .button-group {
	float: left;
}

.buttons-container .button {
	height: 18px;
	margin-left: 1px;
	padding: 2px 6px 0;
	line-height: 18px;
	color: #888;
	text-decoration: none;
	font-size: 11px;
	border-bottom: 2px solid transparent;
}

.buttons-container .button:first-child {
	margin-left: 0;
}

.buttons-container .button:active,
.buttons-container .button.active {
	border-bottom-color: #b5b5b5;
}

.buttons-container .button-group .button.switch {
	padding-left: 3px;
	padding-right: 3px;
}

.buttons-container .button-group .button.switch:first-child {
	padding-left: 6px;
}

.buttons-container .button-group .button.switch:last-child {
	padding-right: 6px;
}

.buttons-container .button-group .button.switch:after {
	content: "/";
	position: relative;
	right: -4px;
}

.buttons-container .button-group .button.switch:last-child:after {
	content: none;
}

.buttons-container .button.icon-arrow-down-a {
	width: 9px;
	font-size: 12px;
}

.buttons-container .button.icon-arrow-expand {
	font-size: 16px;
}

#left-column #markdown,
#right-column #html {
	display: block;
	width: 100%;
	resize: none;
	margin: 0;
	padding: 0;
	border: 0;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

#left-column #markdown:focus,
#right-column #html:focus {
	outline: none;
}

#left-column #top_panels_container .top_panel {
	display: none;
	position: relative;
	padding: 20px;
	background: #f7f7f7;
	border-bottom: 2px solid #f7f7f7;
}

#left-column #top_panels_container .top_panel a {
	color: #333;
}

#left-column #top_panels_container .top_panel .close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 14px;
	height: 14px;
	padding: 3px;
	line-height: 14px;
	font-size: 14px;
	text-align: center;
	color: #999;
	cursor: pointer;
}

#left-column #top_panels_container .top_panel .close:hover {
	color: #666;
}

#quick-reference {
	font-size: 12px;
	line-height: 1.25em;
}

#quick-reference table {
	border-collapse: collapse;
	border-spacing: 0;
}

#quick-reference table td {
	padding: 1px 0;
}

#quick-reference table td:first-child {
	cursor: pointer;
}

#quick-reference table td:last-child {
	padding-left: 20px;
}

#quick-reference table td pre,
#quick-reference table td p {
	margin: 0;
}

#quick-reference p {
	margin-bottom: 0;
}

.fullscreen #left-column,
.fullscreen #right-column {
	float: none;
	width: 100%;
}

.fullscreen #left-column .wrapper {
	border-right-color: transparent;
}

.fullscreen #right-column .wrapper {
	border-left-color: transparent;
}

.fullscreen #left-column #markdown,
.fullscreen #right-column #html {
	max-width: 800px;
	margin: 0 auto;
}

.fullscreen .buttons-container {
	display: none;
}

.fullscreen .buttons-container.fullscreen {
	display: block;
}