body:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 2px;
	background: #f7f7f7;
}

#preview-iframe {
	width: 100%;
	border: 0;
}

.topbar .file-menu {
	position: relative;
	margin-right: 10px;
	overflow: hidden;
	white-space: nowrap;
}

.topbar .file-menu .file-menu-item {
	position: relative;
	display: inline-block;
	height: 18px;
	margin-right: 1px;
	padding: 2px 20px 0 8px;
	color: #888;
	font-size: 11px;
	line-height: 18px;
	cursor: pointer;
	border-bottom: 2px solid transparent;
}

.topbar .file-menu .file-menu-item:last-of-type {
	margin-right: 0;
}

.topbar .file-menu .file-menu-item.active {
	border-bottom-color: #b5b5b5;
}

.topbar .file-menu .file-menu-item:before {
	content: "";
	position: absolute;
	top: 4px;
	right: -1px;
	bottom: 2px;
	width: 1px;
	background: #e7e7e7;
}

.topbar .file-menu .file-menu-item:last-of-type:before {
	content: none;
}

.topbar .file-menu .file-menu-item .filename {
	position: relative;
	z-index: -1; /* Place .filename under .file-menu-item for click events to only fire on .file-menu-item; creating other stacking contexts around here or changing these properties might break the file menu on the JS side. */
}

.topbar .file-menu .file-menu-item .close {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 3px;
	width: 12px;
	line-height: 12px;
	font-size: 13px;
	text-align: center;
	color: #b5b5b5;
	border-radius: 7px;
}

.topbar .file-menu .file-menu-item .close:hover {
	color: #888;
	background: #e7e7e7;
}

.topbar .file-menu .file-menu-item.has-changed .close::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	height: 5px;
	background: #b5b5b5;
	border: 4px solid #fff;
	border-radius: 6.5px;
}

.topbar .file-menu .file-menu-item.has-changed .close:hover::before {
	display: none;
}

.topbar .buttons-container:nth-child(2) {
	float: left;
}

.topbar .buttons-container .button[data-file-menu-control] {
	display: none;
}

.topbar .buttons-container.show-file-menu-controls .button[data-file-menu-control] {
	display: block;
}

.topbar .buttons-container .button.icon-chevron-left,
.topbar .buttons-container .button.icon-chevron-right {
	font-size: 10px;
	border-bottom: 0;
	padding: 0;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	margin: 2px;
	border-radius: 2px;
	text-indent: 2px;
	background: #eaeaea;
}

.topbar .buttons-container .button.icon-chevron-left {
	text-indent: -2px;
}

.topbar .buttons-container .button.icon-chevron-left:active,
.topbar .buttons-container .button.icon-chevron-right:active {
	background: #e1e1e1;
}

.topbar .buttons-container .button.icon-chevron-left:before {
	content: "\25C4";
}

.topbar .buttons-container .button.icon-chevron-right:before {
	content: "\25BA";
}