.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  float: left;
  width: 50%;
  height: 100%;
  padding: 0 0 var(--panel-bottom-padding);
  overflow-y: auto;
}

.panel:first-child:not(:last-child) {
  border-right: 1px solid var(--column-border-color);
}

.panel:last-child:not(:first-child) {
  border-left: 1px solid var(--column-border-color);
}

.panel:first-child:last-child {
  width: 100%;
}
