.topPanel {
  position: relative;
  padding: 10px 20px;
  background: var(--top-panel-bg-color);
  border-bottom: 2px solid var(--top-panel-border-color);
}

.closeButton {
  composes: closeButton from './CloseButton.css';

  top: 15px;
  right: 15px;
  color: var(--top-panel-close-color);
}

.closeButton::before {
  content: "×";
  position: relative;
  top: -1px;
}

.closeButton:hover {
  color: var(--top-panel-close-hover-color);
  background: var(--top-panel-close-hover-bg-color);
}

.closeButton:focus {
  outline: none;
}
