.clearfix {
	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

div.full-height {
	overflow: auto;
}

.visible-when-fullscreen,
.fullscreen .hidden-when-fullscreen {
	display: none;
}

.fullscreen .visible-when-fullscreen,
.hidden-when-fullscreen {
	display: block;
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1em;
}

pre, code, kbd {
	background: #e7e7e7;
}

code, kbd {
	padding: 1px 5px;
}

pre {
	padding: 5px;
	overflow-x: auto;
	word-wrap: normal;
}

pre .highlight {
	background: #d7d7d7;
}

pre code {
	padding: 0;
}

blockquote {
	border-left: 5px solid #e7e7e7;
	margin: 1em 0;
	padding-left: 10px;
}

hr {
	border: 0;
	border-top: 1px solid #e7e7e7;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table thead {
	border-bottom: 2px solid #e7e7e7;
}

table tbody tr:nth-child(2n) {
	background-color: #f8f8f8;
}

table th, table td {
	padding: 6px 13px;
	border: 1px solid #e7e7e7;
}

table th {
	font-weight: bold;
}

li p {
	margin: .5em 0;
}

#left-column,
#right-column {
	float: left;
	width: 50%;
	height: 100%;
}

.wrapper {
	position: relative;
	padding: 22px 0 20px 10px;
}

#left-column .wrapper {
	border-right: 1px solid #f0f0f0;
}

#right-column .wrapper {
	padding-left: 9px;
	border-left: 1px solid #f0f0f0;
}

.topbar,
.bottom-bar {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.bottom-bar {
	top: auto;
	bottom: 0;
	padding-right: 5px;
}

.topbar .buttons-container {
	float: right;
	background: #f0f0f0;
}

.topbar .buttons-container .button,
.topbar .buttons-container .button-group {
	float: left;
}

.topbar .buttons-container .button {
	height: 18px;
	margin-left: 1px;
	padding: 2px 6px 0;
	line-height: 18px;
	color: #888;
	text-decoration: none;
	font-size: 11px;
	border-bottom: 2px solid transparent;
}

.topbar .buttons-container .button:active {
	background: #e7e7e7;
}

.topbar .buttons-container .button.active {
	border-bottom-color: #b5b5b5;
}

.topbar .buttons-container .button-group .button.switch {
	padding-left: 3px;
	padding-right: 3px;
}

.topbar .buttons-container .button-group .button.switch:first-child {
	padding-left: 6px;
}

.topbar .buttons-container .button-group .button.switch:last-child {
	padding-right: 6px;
}

.topbar .buttons-container .button-group .button.switch:after {
	content: "/";
	position: relative;
	right: -4px;
}

.topbar .buttons-container .button-group .button.switch:last-child:after {
	content: none;
}

.topbar .buttons-container .button.icon-sync-scroll,
.topbar .buttons-container .button.icon-fullscreen {
	width: 22px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}
	
.topbar .buttons-container .button.icon-sync-scroll {
	width: 18px;
}
	
.topbar .buttons-container .button.icon-sync-scroll:before {
	display: inline-block;
	margin-top: 1px;
}

.topbar .buttons-container .button.icon-fullscreen {
	font-size: 16px;
}

.topbar .buttons-container .button.icon-settings {
	font-size: 14px;
}

.bottom-bar .word-count {
	float: right;
	height: 20px;
	line-height: 20px;
	font-size: 11px;
	color: #888;
}

#preview {
	word-wrap: break-word;
	line-height: normal;
}

#markdown,
#html {
	display: block;
	box-sizing: border-box;
	width: 100%;
	resize: none;
	margin: 0;
	padding: 5px 0 0;
	border: 0;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

#markdown:focus,
#html:focus {
	outline: none;
}

#top_panels_container {
	max-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#top_panels_container .top_panel {
	display: none;
	position: relative;
	padding: 10px 20px;
	background: #f0f0f0;
	border-bottom: 2px solid #f0f0f0;
}

#top_panels_container .top_panel a {
	color: #333;
}

#top_panels_container .top_panel .close {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 14px;
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	text-align: center;
	color: #999;
	cursor: pointer;
	border-radius: 7px;
}

#top_panels_container .top_panel .close:hover {
	color: #777;
	background: #d7d7d7;
}

.top_panel .button {
	padding: 5px 12px;
	background: #e0e0e0;
	border-radius: 3px;
	cursor: pointer;
	text-decoration: none;
}

.top_panel .button:active {
	background: #d0d0d0;
}

.top_panel .button.is-disabled {
	background: #d0d0d0;
	opacity: .5;
	cursor: not-allowed;
}

#quick-reference table,
#quick-reference > p {
	font-size: 12px;
	line-height: 1.25em;
}

#quick-reference table tr {
	background: transparent;
}

#quick-reference table td {
	padding: 1px 0;
	border: 0;
}

#quick-reference table td:first-child {
	cursor: pointer;
}

#quick-reference table td:last-child {
	padding-left: 20px;
}

#quick-reference table td pre,
#quick-reference table td p {
	margin: 0;
}

#quick-reference p {
	margin-bottom: 0;
}

#settings #increase-font-size,
#settings #decrease-font-size {
	position: relative;
	padding: 5px 9px 5px 19px;
	line-height: 16px;
}

#settings #increase-font-size:before,
#settings #decrease-font-size:before {
	content: "A";
	position: absolute;
	top: 5px;
	left: 9px;
	height: 16px;
	line-height: 16px;
	font-family: monospace;
}

#settings #decrease-font-size:before {
	font-size: 13px;
}

#settings #increase-font-size:before {
	font-size: 17px;
}

#settings #decrease-font-size:after {
	content: "-";
}

#settings #increase-font-size:after {
	content: "+";
}

#settings label {
	padding-right: 20px;
}

.fullscreen #left-column,
.fullscreen #right-column {
	float: none;
	width: 100%;
}

.fullscreen #left-column .wrapper {
	border-right-color: transparent;
}

.fullscreen #right-column .wrapper {
	border-left-color: transparent;
}

.fullscreen #markdown,
.fullscreen #html {
	max-width: 800px;
	margin: 0 auto;
}